body {
	background: oldlace;
}
.app-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.dice-area {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.dice-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 1.5em;
}
.dice-bar img {
	display: block;
	width: 150px;
	height: auto;
}
.dice-bar > .dice-container {
	cursor: pointer;
	margin: .5em;
}
.dice-bar > .free {
	border: 10px solid moccasin;
}
.dice-bar > .hold {
	border: 10px solid #F00;
}

/*STYLES FOR ROLL DISPLAY AREA*/
.game {
	display: none;
}
.game-over {
	flex-direction: column;
	font-size: 1.1rem;
	font-weight: bold;
	padding: 15px;
	text-align: center;
}
.roll-area {
	display: flex;
	justify-content: center;
	margin: 15px;
}
.roll-canvas {
	background-color: moccasin;
	cursor: default;
	box-shadow: -6px 6px 2px #888;
	display: flex;
	align-items: center;
}
.roll-count {
	flex-direction: column;
	text-align: center;
	padding: 15px;
}
.roll-count h1 {
	margin: 4px;
}
.roll-count h2 {
	margin: 2px;
	font-size: 1.1rem;
}

/* STYLES FOR ROLL BUTTON */
.roll-button {
	color: #000;
	background-color: #FFA631;
	font-size: 1.4rem;
	font-weight: bold;
	width: 130px;
	height: 130px;
	cursor: pointer;
	border: 10px solid moccasin;
}
.reroll {
	border: 10px solid #F00;
}
:focus {outline:none;}
::-moz-focus-inner {border:0;}