th {
  border: none;
  padding: 6px;
}
td {
	border: 1px solid #000;
  padding: 6px;
  max-width: 150px;
}
.scorecard-canvas {
	display: flex;
	padding: 4px;
	background: #FFFE90;
	border-radius: 10px;
	box-shadow: -4px 4px 2px #555;
}