body {
	background: #80D0FF;
}
.dice-area {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.roll-button {
	background-color: #FFFE90;
	border: none;
	border-radius: 50%;
	box-shadow: -4px 4px 2px #555;
	margin: 2em;
	width: 75px;
	height: 75px;
	cursor: pointer;
}
.reroll {
	background-color: #F00;
}
.dice-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.dice-bar img {
	display: block;
	width: 150px;
	height: auto;
}
.dice-bar > .dice-container {
	margin: .5em;
}
.dice-bar > .free {
	border: 10px solid #FFFE90;
}
.dice-bar > .hold {
	border: 10px solid #F00;
}
:focus {outline:none;}
::-moz-focus-inner {border:0;}